<!DOCTYPE html>
<html lang='fr'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
  <!-- script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script-->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='movie.png') }}">
  {% block head %}{% endblock %}
  <title>
  {% block title %}{% endblock %}
  </title>
</head>
        
<body class="has-navbar-fixed-top"> 

<!--               BARRE DE NAVIGATION                                      -->
<nav class="navbar is-fixed-top is-info">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('index') }}">
           <img alt='movie icon' src="{{ url_for('static', filename='movie.png') }} " height="20">
       </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Recherches</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{{ url_for('realisateur_choix') }}">Réalisateurs</a>
                    <a class="navbar-item" href="{{ url_for('acteur_choix')}}">Acteurs</a>
                </div>
            </div>
            <a class="navbar-item" href="{{ url_for('credits_') }}">Crédits</a>
        </div>  
    </div>
</nav>

{% block content %}
<!--               SECTION ET CONTAINER                                     -->
  <section>
    <div class="container content">
    {% block container %}
    {% endblock %}
    </div>
  </section>
{% endblock %}
</body>
</html>
