{% extends "common_layout.html" %}
{% block title %} Crédits {% endblock %}

{% block container %}

<ul >
    <li> <a href="https://www.themoviedb.org/">MovieDB</a> pour les données</li>
    <li> Python et <a href="https://flask.palletsprojects.com/en/2.1.x/">Flask</a></li>
    <li> <a href="https://bulma.io/">Bulma CSS</a></li>
</ul>
{% endblock %}
