{% extends "common_layout.html" %}
{% block title %}Bienvenue sur Webfilms {% endblock %}

{% block content %}

<section class="hero is-black is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Webfilms
        </h1>
      </div>
    </div>
</section>

<br/>
<section>
    <div class="container content">
        <div class="message">
            <div class="message-body">
            Bienvenue sur Webfilms. Utilisez le menu en haut de page pour choisir une
            action. Pour le moment, seules les pages Crédits et Recherches/Réalisateurs sont
            fonctionnelle.
            </div>
    </div>
</section>

{% endblock %}
