{% extends "common_layout.html" %}
{% block title %} Liste de films {% endblock %}

{% block container %}

<h1 class="title is-1">Liste de films</h1>

<table class="table is-narrow is-hoverable is-bordered">
    <thead><tr><td><b>Titre</b></td><td><b>Année</b></td></thead>
    <tbody>
    {% for titre, annee in films %}
        <tr><td>{{ titre }}</td><td>{{ annee }}</td></tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}